__pycache__/
*.py[cod]
*.egg-info/
.git/
.gitignore
.github/
.venv/
venv/
env/
myenv/
.vscode/
.idea/
*.md
*.pdf
data/
model/
models/
mlruns/
terraform/
*.pkl
*.pickle
*.parquet
*.csv
*.log
.env
*.db
testing/
img/
