AWS_DEFAULT_REGION=ap-southeast-1
S3_BUCKET_NAME=retrain-data-fraud-detection
USE_S3=true

# Kafka
KAFKA_BOOTSTRAP_SERVERS=54.169.183.95:9092
# MLflow
MLFLOW_TRACKING_URI=http://mlops-prod-1098509742.ap-southeast-1.elb.amazonaws.com:5000

# ALB
ALB_DNS=mlops-prod-1098509742.ap-southeast-1.elb.amazonaws.com

# Webhook (for auto retrain)
DRIFT_WEBHOOK_URL=https://api.github.com/repos/owner/repo/dispatches
PAT_TOKEN=
