duckdb
numpy
pandas
joblib
mlflow==2.14.3
setuptools<70
xgboost
scikit-learn
fastapi
uvicorn
pydantic
kafka-python
requests
pyarrow
evidently
prometheus-client
scipy
imbalanced-learn
boto3
python-dotenv